*, ::before, ::after{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Rubik', Helvetica, Arial, sans-serif;
}

html{
    font-size: 10px;
}

.main-frame{
    margin: 0 auto;
    padding: clamp(2rem, 5vh, 3rem) 0;
    width: min(100%, 80rem);
}

.title-frame{
    display: flex;
    justify-content: center;
    align-items: center;
}
.webpage-icon{
    width: clamp(5rem, 15vw, 10rem);
    height: clamp(10rem, 20vh, 20rem);
}
.webpage-title{
    display: inline-block;
    font-size: clamp(3rem, 8vw, 7rem);
    font-family: 'Aboreto', Georgia, 'Times New Roman', Times, serif;
}

.button-frame{
    display: flex;
    justify-content: center;
    align-items: center;
}
button{
    font-size: clamp(1.5rem, 3vw, 1.8rem);
    font-family: 'Aboreto', Georgia, 'Times New Roman', Times, serif;
}
.add-book-button{
    padding: clamp(1rem, 3vh, 1.5rem) clamp(2rem, 5vw, 3.5rem);
    background-color: var(--white);
    border: .1rem solid var(--grey);
    border-radius: .5rem;
}

.book-frame{
    padding: clamp(2rem, 5vh, 3rem);
}
.book{
    padding: 1rem;
    background-color: var(--white);
    border: .2rem solid var(--black);
    border-radius: 0 .5rem .5rem 0rem;
    box-shadow: -.2rem .3rem 0 .1rem var(--black);
}
.book > img{
    width: 8rem;
    height: 10rem;
    object-fit: cover;
}

footer{
    padding: clamp(2rem, 5vh, 3rem);
    display: flex;
    justify-content: center;
    align-items: center;
}
.notice-text{
    font-size: clamp(1.2rem, 3vw, 1.5rem);
}
.notice-text > a{
    text-decoration: none;
}
.notice-text > a:hover{
    text-decoration: underline var(--black);
}

.hide{
    display: none;
}