*, ::before, ::after{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Rubik', Helvetica, Arial, sans-serif;
}

html{
    font-size: 10px;
}
form{
    width: 100%;
}
button{
    font-size: clamp(1.5rem, 3vw, 1.8rem);
    font-family: 'Aboreto', Georgia, 'Times New Roman', Times, serif;
}

.main-frame{
    margin: 0 auto;
    padding: clamp(2rem, 5vh, 3rem) 0;
    width: min(100%, 80rem);
}

.title-frame{
    display: flex;
    justify-content: center;
    align-items: center;
}
.webpage-icon{
    width: clamp(5rem, 15vw, 10rem);
    height: clamp(10rem, 20vh, 20rem);
}
.webpage-title{
    display: inline-block;
    font-size: clamp(3rem, 8vw, 7rem);
    font-family: 'Aboreto', Georgia, 'Times New Roman', Times, serif;
}

.btn-frame{
    display: flex;
    justify-content: center;
    align-items: center;
}
.add-book-btn{
    padding: clamp(1rem, 3vh, 1.5rem) clamp(2rem, 5vw, 3.5rem);
    background-color: var(--white);
    border: .1rem solid var(--grey);
    border-radius: .5rem;
}
.add-book-btn:hover{
    background-color: var(--black);
    border-color: var(--black);
    color: var(--white);
    cursor: pointer;
}
.add-book-btn:active{
    background-color: var(--black);
    border-color: var(--black);
    color: var(--white);
    cursor: pointer;
}
.add-book-btn:focus{
    background-color: var(--black);
    border-color: var(--black);
    color: var(--white);
}


.close-btn{
    width: 3rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border: .1rem solid var(--black);
}
.close-btn:hover{
    background-color: var(--delete);
    border-color: var(--delete);
    cursor: pointer;
}
.close-btn:active{
    background-color: var(--delete);
    border-color: var(--delete);
    cursor: pointer;
}
.close-btn:focus{
    background-color: var(--delete);
    border-color: var(--delete);
}
.close-btn > object{
    width: 3rem;
    height: 3rem;
    pointer-events: none;
}


.submit-btn{
    margin: clamp(1rem, 5vh, 2rem) 0 0 0;
    padding: clamp(.5rem, 3vh, 1rem) clamp(3rem, 5vw, 5rem);
    display: inline-block;
    background-color: var(--white);
    border: .1rem solid var(--grey);
    border-radius: .5rem;
}
.submit-btn:hover{
    background-color: var(--black);
    border-color: var(--black);
    color: var(--white);
    cursor: pointer;
}
.submit-btn:active{
    background-color: var(--black);
    border-color: var(--black);
    color: var(--white);
    cursor: pointer;
}
.submit-btn:focus{
    background-color: var(--black);
    border-color: var(--black);
    color: var(--white);
}


.delete-btn{
    padding: 1rem 2.4rem;
    display: inline-block;
    background-color: var(--white);
    border: .1rem solid var(--grey);
    border-radius: .5rem;
    font-size: 1.5rem
}
.delete-btn:hover{
    background-color: var(--delete);
    border-color: var(--delete);
    color: var(--white);
    cursor: pointer;
}
.delete-btn:active{
    background-color: var(--delete);
    border-color: var(--delete);
    color: var(--white);
    cursor: pointer;
}
.delete-btn:focus{
    background-color: var(--delete);
    border-color: var(--delete);
    color: var(--white);
}

.add-book-popup{
    margin: 0 auto 3rem auto;
    padding: clamp(2rem, 5vh, 3rem);
    width: min(90%, 30rem);
    position: fixed;
    top: 10vh;
    left: 0;
    right: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
    border: .1rem solid var(--black);
}
.add-book-title{
    padding: 0 0 clamp(.5rem, 5vh, 1rem) 0;
    font-size: clamp(1.5rem, 3vw, 1.8rem);
    font-family: 'Aboreto', Georgia, 'Times New Roman', Times, serif;
}
.input-frame{
    padding: clamp(.5rem, 5vh, 1rem) 0;
    display: flex;
    flex-flow: column wrap;
}
.input-frame > label{
    font-size: clamp(1.2rem, 3vw, 1.5rem);
    font-family: 'Aboreto', Georgia, 'Times New Roman', Times, serif;
}
.input-frame > input, .input-frame > select{
    width: 100%;
    margin: clamp(.5rem, 5vh, 1rem) 0 0 0;
    padding: 1rem;
    border: .1rem solid var(--black);
    border-radius: .5rem;
    font-size: clamp(1.2rem, 3vw, 1.5rem);
}
.add-book-popup > .close-btn{
    position: absolute;
    top: clamp(.5rem, 5vh, 1rem);
    right: clamp(.5rem, 5vh, 1rem);
}


.book-frame{
    margin: 0 auto;
    width: min(100%, 60rem);
    padding: clamp(2rem, 5vh, 3rem);
    display: grid;
    justify-content: space-evenly;
    align-items: center;
    gap: clamp(2rem, 5vh, 3rem);
}
.no-book-popup{
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    border-top: .1rem solid var(--grey);
    border-bottom: .1rem solid var(--grey);
}
.no-book-title{
    width: min(100%, 35rem);
    margin: clamp(3rem, 5vh, 5rem) 0;
    font-family: 'Aboreto', Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: clamp(2rem, 3vw, 3rem);
}
.no-book-subtitle{
    margin: clamp(1rem, 5vh, 2rem) 0;
    width: min(100%, 30rem);
    text-align: center;
    font-size: clamp(1.2rem, 3vw, 1.5rem);
}
.book{
    padding: 1rem;
    background-color: var(--white);
    border: .2rem solid var(--black);
    border-radius: 0 .5rem .5rem 0rem;
    box-shadow: -.2rem .3rem 0 .1rem var(--black);
}
.book:hover{
    background-color: var(--black);
    cursor: pointer;
}
.book:active{
    background-color: var(--black);
    cursor: pointer;
}
.book:focus{
    background-color: var(--black);
}
.book > img{
    width: 8rem;
    height: 10rem;
    pointer-events: none;
}


.book-info-popup{
    margin: 0 auto;
    padding: clamp(.5rem, 5vh, 1rem);
    width: 14.5rem;
    position: fixed;
    top: 30vh;
    left: 0;
    right: 0;
    display: flex;
    flex-flow: column wrap;
    background-color: var(--white);
    border: .1rem solid var(--black);
}
.book-info-popup > .close-btn{
    width: 2rem;
    height: 2rem;
    position: absolute;
    top: clamp(.5rem, 5vh, 1rem);
    right: clamp(.5rem, 5vh, 1rem);
}
.book-info-popup > .close-btn > object{
    width: 2rem;
    height: 2rem;
}
.book-title{
    width: 9rem;
    font-size: clamp(1.8rem, 5vw, 2rem);
    overflow: auto;
    white-space: nowrap;
}
.book-author, .book-pages{
    width: 100%;
    margin: clamp(.5rem, 5vh, 1rem) 0 0 0;
    font-size: 1.2rem;
    overflow: auto;
    white-space: nowrap;
}
.book-info-popup > form > .input-frame > select{
    margin: 0;
    font-size: 1.2rem;
}
.book-info-popup > form > .btn-frame{
    flex-flow: column wrap;
}
.book-info-popup > form > .btn-frame > .submit-btn{
    padding: 1rem 3.2rem;
    font-size: 1.5rem;
}


footer{
    padding: clamp(2rem, 5vh, 3rem);
    display: flex;
    justify-content: center;
    align-items: center;
}
.notice-text{
    text-align: center;
    font-size: clamp(1.2rem, 3vw, 1.5rem);
}
.notice-text > a{
    text-decoration: none;
}
.notice-text > a:hover{
    text-decoration: underline var(--black);
}


.hide{
    display: none;
}

.display-book{
    grid-template-columns: repeat(auto-fit, 10rem);
}

.in-progress{
    background-color: var(--inprogress);
}
.not-read{
    background-color: var(--nread);
}

.overlay{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: var(--overlay);
}